It looks like <%= link_to @site, "http://#{@site}", :target => '_blank' %>
<% if @cached['cached_at'].blank? %>is
<% else %>was
<% end %>
<% case @cached[:code] when -1 %> <span style="color: red">down</span>
    <% unless @cached['cached_at'].blank? %> <%= time_ago_in_words Time.at @cached['cached_at'] %> ago.
    <% end %>
<% else %> <span style="color: green">up</span>
    <% unless @cached['cached_at'].blank? %> <%= time_ago_in_words Time.at @cached['cached_at'] %> ago.
    <% end %>
<% end %>
<br>
<%= link_to 'Check', root_path %> another.