<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Is it down?</title>
  <%= #noinspection RailsParamDefResolve
      stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= #noinspection RailsParamDefResolve
      javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="content">
  <%= yield %>
</section>

</body>
</html>
